*.iml
.gradle
.rawproto
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/frontend/build
/frontend/captures
.externalNativeBuild
backend/TournamentMasterAPI/.vs/TournamentMasterAPI/v15/Server/sqlite3/db.lock
backend/TournamentMasterAPI/.vs/TournamentMasterAPI/v15/Server/sqlite3/storage.ide
backend/TournamentMasterAPI/.vs/TournamentMasterAPI/v15/Server/sqlite3/storage.ide-shm
backend/TournamentMasterAPI/.vs/TournamentMasterAPI/v15/Server/sqlite3/storage.ide-wal
.vs/
project.lock.json
project.fragment.lock.json
artifacts/
frontend/build/generated/mockable-android-26.jar
frontend/.idea/workspace.xml
frontend/.idea/vcs.xml
