<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp3004.goodbyeworld.tournamentmaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.RegisterActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.EditView" />
        <activity android:name=".view.UserView" />
        <activity android:name=".view.CreateView"></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.goodbyeworld.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>