<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AccountDataModelContainer" connectionString="metadata=res://*/TournamentMasterDataModel.csdl|res://*/TournamentMasterDataModel.ssdl|res://*/TournamentMasterDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=comp3004.crviuftuknwc.ca-central-1.rds.amazonaws.com;initial catalog=TournamentMasterDB;user id=asvpcurtis;password=Trapezoid9*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>